.container{
    padding: 0 16px;
}
body{
    border: 0px;
    margin: 0;
}
html{
    box-sizing: border-box;
}
img{
    border-radius: 8px;
    transform: scaleX(-1);
    width: 250px;
    height: 250px;
    object-fit: contain;

}
.p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    color: orange;
}
.p2{
    font-weight: bold;
    font-style: oblique;
    font-size: x-large;

}
.p3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
}
.contact{
    text-align: center;
}
body{
    background-color: black;
}