.container{
    padding: 0 16px;
}
body{
    border: 0px;
    margin: 0;
}
html{
    box-sizing: border-box;
}
img{
    border-radius: 8px;
    transform: scaleX(-1);
    width: 250px;
    height: 250px;
    object-fit: contain;

}
.p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.p2{
    font-weight: bold;
    font-style: oblique;
    
}